.card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.120);
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-top: -20px;
  transition: box-shadow 0.3s ease-in-out !important;
}

.card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.292);
}

.pr-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.pr-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.card:hover .img-hover {
  opacity: 1;
}


.card-details {
  margin-top: 15px;
  padding: 15px 0px 0px;
  color: #ff604b;
  display: flex;
  justify-content: space-between;
}

.card-details a {
  text-decoration: none;
  color: #fe5741;
  border: 1px solid #ff604b85;
  height: max-content;
  padding: 3px 10px;
  border-radius: 3px;
  transition: .2s ease-in;
}

.card-details a:hover {
  color: white;
  background-color: #ff604b;
}

.project-code-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.project-code-links a {
  font-size: 13px;
  text-decoration: none;
  color: #fe5741;
  border: 1px solid #ff604b85;
  height: max-content;
  padding: 4px 12px;
  border-radius: 3px;
  transition: .2s ease-in;
}

.project-code-links a:hover {
  color: white;
  background-color: #ff604b;
}

.technology-used-btn {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.technology-used-btn button{
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 12px;
}

.technology-btn {
  color: #ff604b !important;
  border: none;
  outline: none;
  padding: 5px 10px ;
  font-weight: 500;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}