.about-container {
  padding-top: 75px;
  margin-bottom: 50px;
}

.about-img {
  max-width: 400px;
}

.section-title-about {
  position: relative;
  padding-bottom: 15px;
}

.section-title-about::before {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #111;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.section-title-about::after {
  content: "who I am";
  background-color: rgb(255, 255, 255);
  color: #ff604b;
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translate(-50%);
  font-size: 18px;
}

.about-text {
  color: black;
}

.about-hgl-txt i {
  color: #ff604b;
  font-size: 12px;
  margin-right: 10px;
}

.about-hgl-txt p {
  font-size: 15p;
}

.about-hgl-txt h5 {
  font-size: 19px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .section-title-about::after {
    font-size: 16px;
  }
}
