.banner-container {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #edfaff;
  background-image: url("../../images/shape.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.banner-text {
  padding-top: 65px;
}

.banner-text h1 {
  font-size: 50px;
}

.banner-text h2 {
  font-size: 30px;
}

.resume-btn {
  background-color: #ff604b;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.resume-btn a {
  text-decoration: none;
  color: white;
}

.resume-btn:hover {
  transform: scale(1.03);
}

.banner-icon .fab {
  margin: 20px;
  font-size: 26px;
}

.banner-icon .fa-linkedin-in {
  color: #046aaa;
  transition: 0.2s ease-in-out;
}

.banner-icon .fa-linkedin-in:hover {
  transform: translateY(-7px);
}

.banner-icon .fa-github {
  color: #110606;
  transition: 0.2s ease-in-out;
}

.banner-icon .fa-github:hover {
  transform: translateY(-7px);
}

.banner-icon .fa-twitter {
  color: #1b9ae9;
  transition: 0.2s ease-in-out;
}

.banner-icon .fa-twitter:hover {
  transform: translateY(-7px);
}

.banner-img img {
  width: 450px;
  border-radius: 50%;
  border: 1px solid gray;
  filter: saturate(1.4);
  padding: 7px;
  animation: bannerImg 3s ease-in-out infinite;
}

.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.effect-1 {
  height: 40px;
  width: 40px;
  border: 4px solid #ff604b;
  border-radius: 5px;
  top: 8.8%;
  left: 1.5%;
  animation: spin 7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bannerImg {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

/* media screen */

@media screen and (max-width: 992px) {
  .banner-container {
    margin-bottom: 0px;
  }

  .banner-text {
    padding-top: 20px;
  }

  .banner-img img {
    width: 350px;
  }

  .banner-text h1 {
    font-size: 40px;
  }

  .banner-text h2 {
    font-size: 25px;
  }

  .resume-btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 766px) {
  .banner-text {
    padding-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .banner-container {
    padding-bottom: 65px;
  }

  .banner-text {
    padding-top: 0px;
    margin-top: -10px !important;
  }

  .banner-text h1 {
    font-size: 35px;
  }

  .banner-text h2 {
    font-size: 25px;
  }

  .resume-btn {
    font-size: 14px;
  }

  .banner-img img {
    width: 300px;
  }
}
